MB_SITE = 'http://test.musicbrainz.org'
MB_USERNAME = 'xxx'
MB_PASSWORD = 'xxx'

MB_DB = 'postgresql://musicbrainz:xxx@127.0.0.1:5432/musicbrainz'
MB_DB_LINK = 'dbname=musicbrainz port=5432 user=musicbrainz password=xxx'

DO_DB = 'postgresql://discogs:xxx@127.0.0.1:5432/discogs'
DO_DB = 'dbname=discogs port=5432 user=musicbrainz password=xxx'

WWW_USER_AGENT = None

